@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;1,600&display=swap');

/* GENERAL CSS RULES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}

/* STRUCTURE RELATED CSS */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.game-container {
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 2px solid #545454;
    border-radius: 6px;
}

.reset {
    text-align: center;
    margin-bottom: 4rem;
}

#reset-btn {
    padding: .8rem 1.7rem;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace, sans-serif;
    border: 1px solid #545454;
    border-radius: 6px;
    background-color: rgb(245, 248, 251);
    text-transform: uppercase;
    transition: all 0.6s;
}

#reset-btn:hover {
    background-color: #545454;
    color: rgb(245, 248, 251);
}

footer {
    text-align: center;
}



/* SPECIFICS */

h1 {
    font-family: 'Source Code Pro', monospace, sans-serif;
    text-align: center;
    margin-top: 5rem;
    font-size: 4rem;
    color: #545454;
}

h2 {
    font-family: 'Source Code Pro', monospace, sans-serif;
    font-size: 2.4rem;
}

h3 {
    font-family: 'Source Code Pro', monospace, sans-serif;
    font-size: 2rem; 
}

h3 a {
    text-decoration: none;
    color: #545454;
}

.game-name {
    font-style: italic;
}


.icon-img {
    width: 7rem;
    margin-left: 1.5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1666px){
    .icon-img {
        max-width: 4rem;
    }

    h1 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 1120px) {
    .icon-img {
        max-width: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .game-name {
        display: inline-block;
        margin-top: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    .choice-container {
        flex-direction: column;
        gap: 2rem;
    }

    .scores {
        display: flex;
    }

    .player-score {
        font-size: 1.5rem;
    }

    .game-container {
        width: 15rem;
    }
    
    footer {
        margin-bottom: 2rem;
    }
}
